.Page404 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center; 
  justify-content: space-between;
}
  
.Page404__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
}
  
.Page404__title {
  text-align: center;
  line-height: 1;
  font-size: 288px;
  font-style: normal;
  margin-bottom: 50px;
  margin-top: 20px
}
  
.Page404__message {
  font-style: normal;
}
  
.Page404__link {
  color: #2c3e50;
  font-style: normal;
  line-height: 142.6%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  transition: color 0.3s;
  
  &:hover {
    text-decoration: underline;
    color: #00bc77;
  }
}